<div class='featured-song cf'>
    <div class='songImg'><img src="{{albumArtUrl}}"/></div>
    <div class='songInfo'><p class='status'>Featured</p>
        <p class='songName'>{{songName}} <span class='by'>by</span></p><a class='artistName' href=''>{{artistName}}</a>
        <p class='tag'>Categorized as
            <a href='#' class='genre'>{{genre}}</a> released on <a class='album' href='#'>{{albumName}}</a>
            {{releaseDate}}</p>
        <p class='trackInfo'>{{trackInfo}}</p></div>
</div>
